.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* My CSS Effect */
/* Header*/

#header {
  height: 120px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 5px solid #61dafb;
}

.center {
  width: 75%;
  margin: 0px auto;
}

.clearfix {
  clear: both;
  float: none;
}

#logo {
  width: 30%;
  font-size: 30px;
  float: left;
  margin-top: 35px;
}

#logo img {
  display: block;
  float: left;
  height: 60px;
  margin-top: -9px;
  margin-right: -10px;
  animation: rotate infinite 30s linear;
}

@keyframes rotate {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.error404 {
  width: 60%;
}

.notfound {
  color: red;
  font-size: 20px;
}

/*MENU */
#menu {
  width: 70%;
  float: right;
  font-size: 18px;
}

#menu ul {
  line-height: 85px;
  width: 60%;
  float: right;
}

#menu ul li {
  display: inline-block;
  list-style: none;
  height: 46px;
  margin-left: 15px;
  margin-right: 15px;
}

#menu a {
  text-decoration: none;
  color: #444;
  transition: 300ms all;
}

#menu a:hover {
  color: #3cb2d3;
}

.active {
  border-bottom: 2px solid #3cb2d3;
}

.inactive {
  border-bottom: 1px solid white;
}

/* .total{
  margin: 0 auto;
} */
.total{
  margin-top: 90px;
  border: 1px solid #eff8fa;
  border-left: 6px solid #3cb2d3;
  border-radius: 10px;
}
.texto{
  margin-top: 30px;
  font-weight: bold;
}
.total h1{
  font-size: 90px;
  margin-top: 60px;
  color: #3cb2d3;
}
#content{
  font-size: 22px;
  text-align: justify;
}

/* LOADING */
.altura {
  height: 180px;
}

/*RESPONSIVE*/

/*From 963px until 1488px */
@media (max-width: 1488px){
  .center{
      width: 85%;
  }
}

/*From 963px ntil 1488px */
@media (max-width: 1314px){
  .center{
      width: 95%;
  }

  #menu ul{
      width: auto;
  }
}

/* FOOTER */
#footer{
  background: white;
  width: 100%;
  height: 70px;
  line-height: 70px;
  color: #444;
}

#footer p {
  margin: 0px;
  padding: 0px;
}

/* ERROR */
.error404 {
  width: 60%;
}

.notfound {
  color: red;
  font-size: 20px;
}

/* CONVERTER */

.App1{
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.heading{
  margin-bottom: 0px;
}

.container1{
  height: 200px;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input{
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
}
.middle,.right{
  width: 120px;
}
.switch{
  padding: 5px;
  margin-top: 25px;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
}
.boton{
  margin-bottom: 20px;
}
.result{
  box-sizing: border-box;
  width: 800px;
  padding-left: 30px;
}

.switch{
  color: #61dafb;
}
.subtitle{
  color: #61dafb;
  font-weight: bold;
}
.texto1{
  font-size: 40px;
}
.valerror{
  color: red;
}